.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content1 {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.content1 a {
  text-decoration: none;
}
