<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-2"></div>

    <div class="col-8">
      <a routerLink="/add" class="btn btn-primary">Add New Clothe</a>
      <table class="table mt-3">
        <thead class="table-primary">
          <tr>
            <th>id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Photo</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody *ngFor="let clothe of clothes">
          <tr>
            <td>{{ clothe.id }}</td>
            <td>{{ clothe.productName }}</td>
            <td>{{ clothe.price | currency }}</td>
            <td>
              <img [src]="imgurl + clothe.photoName" class="zoom" alt="" />
            </td>
            <td>
              <a [routerLink]="['/edit', clothe.id]" class="btn btn-success"
                >Edit</a
              >
            </td>
            <td>
              <a
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#delete"
                (click)="DeleteId(clothe.id)"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="delete"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">You are about to delete this product</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          routerLink="/admin"
          type="button"
          class="btn btn-danger"
          (click)="Delete()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
