<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
      <form
        (ngSubmit)="Forgetpassword()"
        class="bg-light border p-4"
        [formGroup]="forgetpasswordForm"
      >
        <div><h2>Forget Password</h2></div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                (forgetpasswordForm.get('email')?.touched ||
                  forgetpasswordForm.get('email')?.dirty) &&
                !forgetpasswordForm.get('email')?.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="forgetpasswordForm.get('email')?.errors?.required">
              Email is required
            </span>
          </span>
        </div>

        <div class="content">
          <button
            type="submit"
            class="btn btn-primary mt-3"
            data-bs-toggle="modal"
            data-bs-target="#forgetpassword"
          >
            send
          </button>
        </div>
        <div class="content">
          <a routerLink="/login" class="text-center mt-3">Login?</a><br />
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="forgetpassword"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Check your email , password sent successfuly</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
